@media (max-width: 450px){
    body {
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        /*background: url(https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);*/
        background: url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    
    h1 {
        font-size: 30px;
        color: white;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    
    #clock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    
    #clock div {
        background-color: blueviolet;
        opacity: .7;
        margin: 3px;
        display: flex;
        flex-direction: column;
        width: 50px;
        border-radius: 2px;
    }
    
    span {
        height: 35px;
        width: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 2px 2px;
    }
    
    .word {
        font-size: 12px;
        background-color: green;
    }
    
    .ampm {
        background-color: green;
        border-radius: 2px;
    }
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    /*background: url(https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);*/
    background: url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#clock div {
    background-color: blueviolet;
    opacity: .7;
    margin: 3px;
    display: flex;
    flex-direction: column;
    width: 60px;
    border-radius: 2px;
}

span {
    height: 45px;
    width: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 2px 2px;
}

.word {
    font-size: 15px;
    background-color: green;
}

.ampm {
    background-color: green;
    border-radius: 2px;
}
