body {
    font-family: sans-serif, serif;
}
.bold {
    font-weight: 200;
}
.toptext {
    text-align: center;
    margin:auto;
    color: rgb(95, 15, 200)
}
.top {
    background-color: rgb(33, 5, 41);
    width: 100%;
}
.explain {
    text-align: center;
}
.container {
    margin: 2rem;
    
}