@media (prefers-reduced-motion: no-preference) {
    * {scroll-behavior: smooth;
  }
}

:root {
    --primary: #fffd97;
    --secondary: #c7c3ff;
    --text: white;
    --background: black;
    --accent: #433bff;
}

body {
    height: 100vh;
    margin: 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: var(--background);
    font-family: 'Kalam', cursive, sans-serif;
    overflow-x: hidden;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--text);
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    width: 6rem;
    gap: .5rem;
}

span {
    color: var(--primary);
}

nav ul li {
    list-style-type: none;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 2rem;
    padding: 5px 10px;
    border-radius: 1rem;
    transform: .4s;
}

nav ul li:hover {
    background-color: var(--accent);
    transition: .4s;
    cursor: pointer;
    transform: scale(1.1);

}

nav ul li a {
    color: var(--background);
    text-align: none;
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    text-transform: capitalize;
    transform: .4s;
}

nav ul li a:hover {
    color: var(--secondary);
    transition: .4s;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

h1 {
    color:var(--text);
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

h3 {
    color:var(--text);
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

h4 {
    color:var(--text);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}


.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.about img {
    -webkit-filter: drop-shadow(2px 1px 0 var(--accent))
                    drop-shadow(-1px -1px 0 var(--accent));
    height: 10rem;
    margin: 0;
}

.accent {
    color: var(--accent);
}

.about-text {
    text-align: center;
}

.about-text h2 {
    color: var(--text);
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
}
.about-text h5 {
    color: var(--accent);
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    text-transform: capitalize;
}
.about-text p {
    color: var(--secondary);
    letter-spacing: 1px;
    line-height: 28px;
    text-align: center;
    font-size: 1rem;
    font-weight: 501;
    margin: 0;
    gap: 1rem;
    line-height: 1.3;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    gap: 1rem;
}

.title h2 {
    color: var(--text);
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}
.box {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    height: 8rem;
    width: 8rem;
    padding: 2rem 1.5rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card img {
    height: 8rem;
    border-radius: 1rem;
    border: solid var(--accent) .1rem;
}

.button {
    background-color: var(--secondary);
    color: var(--background);
    text-decoration: none;
    border: .1rem solid var(--accent);
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 .5rem;
    border-radius: 1rem;
    transform: .4s;
}

.button:hover {
    border: .1rem solid var(--accent);
    cursor: pointer;
    background-color: var(--accent);
    color: var(--text);
    transition: .4s;
    transform: scale(1.1);
}

.contact-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
}

.contact-me p {
    color: var(--text);
    font-size: 1.5rem;
    font-weight: bold;
}
.contact-me .button-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--background);
    text-decoration: none;
    border: 1rem solid transparent;
    font-weight: bold;
    font-size: 1rem;
    height: 1rem;
    width: 5rem;
    border-radius: 2rem;
    transform: .4s;
}
.contact-me .button-two:hover {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--text);
    transition: .4s;
    transform: scale(1.1);
}

footer {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

footer p:nth-child(1) {
    font-size: 1.5rem;
    color: var(--text);
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-top: 1rem;
}

footer p:nth-child(2) {
    color: var(--secondary);
    font-size: 1rem;
    text-align: center;
}

.social {
    display: flex;
    padding-bottom: 1rem;
}
.social a {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    border-radius: 50%;
    margin: .5rem .5rem;
    color: var(--background);
    text-decoration: none;
    font-size: 1.5rem;
}
.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}
.end {
    color: var(--text);
    font-size: .7rem;
} 



/* xs */
@media (min-width: 475px) {
    .content {
        padding-top: 6rem;
    }
    .logo {
        font-size: 2rem;
    }
    
    nav ul li {
        height: 1.7rem;
        width: 2.7rem;
        padding: 5px 10px;
    }
    
    nav ul li a {
        font-size: .95rem;
    }

    h1 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    h4 {
        font-size: 1.8rem;
    }

    .about {
        padding-top: 6rem;
    }


    .about img {
        height: 12rem;
    }
    
    .about-text h2 {
        font-size: 2.5rem;
    }
    .about-text h5 {
        font-size: 2rem;
    }
    .about-text p {
        font-size: 1.5rem;
        line-height: 1.3;
    }

    .projects {
        padding-top: 6rem;
    }

    .title h2 {
        font-size: 2.5rem;
    }

    .card {
        height: 10rem;
        width: 10rem;
        padding: 2.5rem 2rem;
    }
    .card img {
        height: 10rem;
    }
    
    .button {
        padding: .3rem 1rem;
    }

    .contact-me {
        padding-top: 6rem;
    }
    
    .contact-me p {
        font-size: 2rem;
    }
    .contact-me .button-two {
        font-size: 1.3rem;
        height: 2rem;
        width: 6rem;
    }
    
    
    footer p:nth-child(1) {
        font-size: 2rem;
    }
    
    footer p:nth-child(2) {
        font-size: 1.1rem;
    }
    .social a {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }
    .end {
        font-size: .8rem;
    } 
    

} 

/* sm */
@media (min-width: 640px) {
    .content {
        padding-top: 7rem;
    }
    .about {
        padding-top: 7rem;
    }
    .projects {
        padding-top: 7rem;
    }
    .contact-me {
        padding-top: 7rem;
    }

    .logo {
        font-size: 2.5rem;
    }
    
    nav ul li {
        height: 2.5rem;
        width: 3.5rem;
        padding: 5px 10px;
        border-radius: 1.2rem;
    }
    
    nav ul li a {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 2rem;
    }


    .about img {
        height: 13rem;
    }
    
    .about-text h2 {
        font-size: 3rem;
    }
    .about-text h5 {
        font-size: 2.5rem;
    }
    .about-text p {
        font-size: 1.6rem;
        line-height: 1.3;
        padding: 0 2rem;
    }

    .title h2 {
        font-size: 3rem;
    }

    .card {
        height: 12rem;
        width: 12rem;
        padding: 2.5rem 2rem;
    }
    .card img {
        height: 12rem;
    }
    
    .button {
        padding: .5rem 1.5rem;
    }
    
    .contact-me p {
        font-size: 2.5rem;
    }
    .contact-me .button-two {
        font-size: 1.5rem;
        height: 2.5rem;
        width: 7rem;
    }
    
    
    footer p:nth-child(1) {
        font-size: 2.5rem;
    }
    
    footer p:nth-child(2) {
        font-size: 1.3rem;
    }
    .social a {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2.5rem;
    }
    .end {
        font-size: .9rem;
    } 
    
   
}

/* md */
@media (min-width: 768px) {
    .content {
        padding-top: 7rem;
    }
    .about {
        padding-top: 7rem;
    }
    .projects {
        padding-top: 7rem;
    }
    .contact-me {
        padding-top: 7rem;
    }


    .logo {
        font-size: 3rem;
    }
    
    nav ul li {
        height: 3rem;
        width: 4rem;
        padding: 5px 10px;
        border-radius: 1.3rem;
    }
    
    nav ul li a {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 4rem;
    }
    
    h3 {
        font-size: 3.5rem;
    }
    
    h4 {
        font-size: 2.5rem;
    }


    .about img {
        height: 15rem;
    }
    
    .about-text h2 {
        font-size: 3.5rem;
    }
    .about-text h5 {
        font-size: 3rem;
    }
    .about-text p {
        font-size: 1.7rem;
        line-height: 1.3;
        padding: 0 2.5rem;
    }

    .title h2 {
        font-size: 3.5rem;
    }

    .card {
        height: 14rem;
        width: 14rem;
        padding: 2.5rem 2rem;
    }
    .card img {
        height: 14rem;
    }
    
    
    .button {
        border-radius: 1..6rem;
        font-size: 1.2rem;
        padding: .7rem 1.8rem;
    }
    
    .contact-me p {
        font-size: 3rem;
    }
    .contact-me .button-two {
        font-size: 2rem;
        height: 3rem;
        width: 9rem;
    }
    
    
    footer p:nth-child(1) {
        font-size: 3rem;
    }
    
    footer p:nth-child(2) {
        font-size: 1.5rem;
    }
    .social a {
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
    }
    .end {
        font-size: 1.1rem;
    } 
}

/* lg */
@media (min-width: 1024px) {
    .content {
        padding-top: 7rem;
    }
    .about {
        padding-top: 7rem;
    }
    .projects {
        padding-top: 7rem;
    }
    .contact-me {
        padding-top: 7rem;
    }


    .logo {
        font-size: 3.5rem;
    }
    
    nav ul li {
        height: 3.5rem;
        width: 4.5rem;
        padding: 5px 10px;
        border-radius: 1.5rem;
    }
    
    nav ul li a {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 4.5rem;
    }
    
    h3 {
        font-size: 4rem;
    }
    
    h4 {
        font-size: 3rem;
    }


    .about img {
        height: 17rem;
    }
    
    .about-text h2 {
        font-size: 4rem;
    }
    .about-text h5 {
        font-size: 3.5rem;
    }
    .about-text p {
        font-size: 2rem;
        line-height: 1.3;
        padding: 0 5rem;
    }

    .title h2 {
        font-size: 4rem;
    }

    .card {
        height: 16rem;
        width: 16rem;
        padding: 3rem 2.5rem;
    }
    .card img {
        height: 16rem;
    }
    
    
    .button {
        border-radius: 1..6rem;
        font-size: 1.5rem;
        padding: .7rem 1.8rem;
    }
    
    .contact-me p {
        font-size: 3.5rem;
    }
    .contact-me .button-two {
        font-size: 2rem;
        height: 3rem;
        width: 9rem;
    }
    
    
    footer p:nth-child(1) {
        font-size: 3rem;
    }
    
    footer p:nth-child(2) {
        font-size: 1.5rem;
    }
    .social a {
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
    }
    .end {
        font-size: 1.1rem;
    } 
}

/* xl */
@media (min-width: 1280px) {
    .content {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .about {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .projects {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
    .contact-me {
        padding-top: 9rem;
    }

    .logo {
        font-size: 3.5rem;
    }
    
    nav ul li {
        height: 3.5rem;
        width: 4.5rem;
        padding: 5px 10px;
        border-radius: 1.5rem;
    }
    
    nav ul li a {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 4.5rem;
    }
    
    h3 {
        font-size: 4rem;
    }
    
    h4 {
        font-size: 3rem;
    }


    .about img {
        height: 17rem;
    }
    
    .about-text h2 {
        font-size: 4rem;
    }
    .about-text h5 {
        font-size: 3.5rem;
    }
    .about-text p {
        font-size: 2.5rem;
        line-height: 1.3;
        padding: 0 5rem;
    }

    .title h2 {
        font-size: 4rem;
    }

    .card {
        height: 18rem;
        width: 18rem;
        padding: 3.5rem 3rem;
    }
    .card img {
        height: 18rem;
    }
    
    
    .button {
        border-radius: 1.6rem;
        font-size: 2rem;
        padding: .7rem 1.8rem;
    }
    
    .contact-me p {
        font-size: 3.5rem;
    }
    .contact-me .button-two {
        font-size: 2rem;
        height: 3rem;
        width: 9rem;
    }
    
    
    footer p:nth-child(1) {
        font-size: 3rem;
    }
    
    footer p:nth-child(2) {
        font-size: 1.5rem;
    }
    .social a {
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
    }
    .end {
        font-size: 1.1rem;
    } 
}

/* 2xl */
@media (min-width: 1536px) {
    .content {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .about {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .projects {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .contact-me {
        padding: 0;
        margin-top: 15rem;
    }


    .about img {
        height: 19rem;
    }
    
    .about-text h2 {
        font-size: 4rem;
    }
    .about-text h5 {
        font-size: 3.5rem;
    }
    .about-text p {
        font-size: 2.5rem;
        line-height: 1.3;
        padding: 0 10rem;
    }

    
    .button {
        border-radius: 1..6rem;
        font-size: 2rem;
        padding: .7rem 1.8rem;
    }
}